/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }

  .subtitle {
    font-family: "Noto Sans", sans-serif;
    color: #999;
  }
}

/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }

  .section {
    /* padding: 60px 0 67px; */
    padding-top: 60px;
    padding-bottom: 67px;
  }

  .section-header {
    margin-bottom: 40px;
  }

  .section-cards {
    margin-bottom: 40px;
    row-gap: 40px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 12px;
  }

  .button {
    padding: 12px 25px 14px;
    font-size: 18px;
  }
}

/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }

  .section {
    /* padding: 60px 0 40px; */
    padding-bottom: 40px;
  }

  .section-cards {
    justify-content: center;
    row-gap: 20px;
  }

  .card-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .card-description {
    margin-bottom: 10px;
  }

  a.card-link {
    font-size: 18px;
  }
}
